@media (max-width: 1399px) {
}
@media (max-width: 1199px) {
	.footer {
		&__info {
			padding: 35px 35px;
			width: 330px;
			height: 240px;
		}
		&__phone {
			margin-top: 20px;
		}
	}
}

@media (max-width: 991px) {
	.advantages {
		&__item {
			max-width: 240px;
		}
	}
	.footer {
		&__info {
			top: 0;
			right: 0;
			transform: none;
		}
	}
}

@media (max-width: 767px) {
	.header {
		&__logo {
			max-width: 200px;
		}
		&__phone {
			font-size: 16px;
		}
		&__official {
			span {
				font-size: 16px;
			}
		}
	}
	.button {
		max-width: 100%;
	}
	.advantages {
		padding: 53px 0 63px 0;
		&__wrapper {
			margin-top: 35px;
			flex-direction: column;
			align-items: center;
		}
		&__item {
			margin-top: 20px;
			max-width: 380px;
		}
		&__subtitle {
			margin-top: 20px;
		}
		&__descr {
			margin-top: 15px;
		}
	}
	.consultation {
		padding: 53px 0 63px 0;
	}
	.title_left {
		font-size: 30px;
	}
	.carousel {
		display: none;
	}
	.catalog {
		padding: 50px 0;
		&__content {
			justify-content: center;
		}
	}
	.footer {
		&__info {
			padding: 10px 10px;
			width: 230px;
			height: 160px;
		}
		&__address {
			font-size: 15px;
		}
		&__phone {
			margin-top: 10px;
			font-size: 16px;
		}
		&__social {
			margin-top: 15px;
			&-item {
                margin: 0 5px;
				width: 40px;
				height: 41px;
			}
		}
	}
}

@media (max-width: 575px) {
	.header {
		&__official {
			display: none;
		}
		&__phone {
			font-size: 13px;
		}
	}
	.button {
		max-width: 80%;
	}
	.promo {
		padding-bottom: 73px;
		&__wrapper {
			margin-top: 60px;
			align-items: center;
		}
		&__header {
			font-size: 32px;
		}
		&__icons {
			max-width: 95%;
			margin-top: 45px;
		}
		&__icon {
			font-size: 12px;
		}
	}
	.button_main {
		margin-top: 45px;
	}
	.title {
		font-size: 26px;
	}
	.advantages {
		&__wrapper {
			margin-top: 25px;
		}
	}
    .feed-form {
        width: 250px;
    }
    .catalog {
        &__tabs {
            flex-direction: column;
            margin-top: 30px;
        }
        &__tab {
            margin-top: 10px;
        }
        &__content {
            margin-top: 30px;
        }
    }
    .reviews {
        &__item {
            flex-direction: column;
        }
        &__wrapper {
            &-text {
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }
    .pageup {
        display: none;
        position: fixed;
        bottom: 40px;
        right: 20px;
        width: 25px;
        height: 25px;
    }
    .footer {
        &__info {
            display: none;
        }
    }
}
