@media (max-width: 1399px) {
}
@media (max-width: 1199px) {
    .footer {
        &__info {
            padding: 35px 35px;
            width: 330px;
            height: 240px;
        }
        &__phone {
            margin-top: 20px;
        }
    }
}

@media (max-width: 991px) {
	.advantages {
		&__item {
			max-width: 240px;
		}
	}
}

@media (max-width: 767px) {
	.header {
		&__logo {
			max-width: 200px;
		}
		&__phone {
			font-size: 16px;
		}
		&__official {
			span {
				font-size: 16px;
			}
		}
	}
	.button {
		max-width: 100%;
	}
	.advantages {
        padding: 53px 0 63px 0;
		&__wrapper {
            margin-top: 35px;
			flex-direction: column;
			align-items: center;
		}
        &__item {
            margin-top: 20px;
            max-width: 380px;
        }
        &__subtitle {
            margin-top: 20px;
        }
        &__descr {
            margin-top: 15px;
        }
	}
    .consultation {
        padding: 53px 0 63px 0;
    }
    .title_left {
        font-size: 30px;
    }
}

@media (max-width: 575px) {
    .header {
        &__official {
            display: none;
        }
        &__phone {
            font-size: 13px;
        }
    }
    .button {
        max-width: 80%;
    }
    .promo {
        padding-bottom: 73px;
        &__wrapper {
            margin-top: 60px;
            align-items: center;
        }
        &__header {
            font-size: 32px;
        }
        &__icons {
            max-width: 95%;
            margin-top: 45px;
        }
        &__icon {
            font-size: 12px;
        }
    }
    .button_main {
        margin-top: 45px;
    }
    .title {
        font-size: 26px;
    }
    .advantages {
        &__wrapper {
            margin-top: 25px;
        }
    }
}
