@import 'base/variables';
@import 'base/mixins';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/titles';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'base/media';

* {
	font-family: 'Museo Sans', sans-serif;
}

.container {
	max-width: 950px;
	margin: 0 auto;
}