.button {
	width: 153px;
	height: 30px;
	background: #c70101;
	border-radius: 5px;
	border: none;
	font-weight: 500;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	&_main {
		margin-top: 67px;
		width: 300px;
		height: 50px;
		font-size: 16px;
	}
}
