.catalog {
	padding-bottom: 100px;
	&__tabs {
		margin-top: 70px;
		list-style-type: none;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 0;
		padding-left: 0;
	}
	&__tab {
		width: 222px;
		height: 52px;
		border: 2px solid #d0d0d0;
		font-weight: 400;
		font-size: 18px;
		text-align: center;
		text-transform: uppercase;
		color: #6b6b6b;
		line-height: 48px;
		transform: skewX(-25deg);
		margin: 0 5px;
		cursor: pointer;
		transition: 0.5s all;
		&:hover {
			box-shadow: 1px 1px 10px $black-color;
			border: none;
		}
		div {
			transform: skewX(25deg);
		}
		&_active {
			background: $red-color;
			color: #fff;
			border: none;
		}
	}
	&__content {
        display: none;
		margin-top: 60px;
        justify-content: space-between;
        flex-wrap: wrap;
        &_active {
            display: flex;
        }
	}
	&-item {
        margin-bottom: 20px;
		width: 300px;
		min-height: 440px;
		border: 2px solid #e8e8e8;
		padding: 20px 20px 26px 20px;
		overflow: hidden;
		&__img {
			display: block;
			margin: 0 auto;
			max-width: 100%;
			height: 200px;
		}
		&__subtitle {
			margin-top: 20px;
			font-family: 'MuseoModerno', cursive;
			font-weight: 700;
			font-size: 16px;
			text-align: center;
			color: $black-color;
		}
		&__descr {
			margin-top: 16px;
			font-weight: 300;
			font-size: 14px;
			text-align: center;
			color: $black-color;
		}
		&__link {
			display: block;
			margin-top: 17px;
			font-weight: 500;
			font-size: 14px;
			text-align: center;
			text-decoration-line: underline;
            text-transform: uppercase;
			color: $red-color;
			&:hover {
				color: $red-color;
			}
		}
		hr {
			margin-top: 19px;
			border-bottom: none;
			background: #e8e8e8;
			margin-bottom: 21px;
		}
		&__footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__old-price {
			font-weight: 300;
			font-size: 14px;
			text-decoration-line: line-through;
			color: #555;
		}
		&__price {
			font-size: 20px;
			font-weight: 700;
			color: $black-color;
		}
		&__wrapper {
			display: flex;
			width: calc(200% + 40px);
		}
		&__content {
			width: 50%;
			margin-right: 0;
			transform: translateX(-100%);
			transition: 0.5s all;
			&_active {
				transform: translateX(0%);
				margin-right: 20px;
			}
		}
		&__list {
            position: relative;
			width: 50%;
			margin-left: 0;
			transform: translateX(0%);
			padding-right: 20px;
			transition: 0.5s all;
			ul {
				padding-left: 19px;
				margin-bottom: 0;
				list-style-type: none;
			}
			li {
                position: relative;
				font-weight: 300;
				font-size: 14px;
				line-height: 21px;
				color: #555555;
				margin-bottom: 20px;
                &:before {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: $red-color;
                    left: -14px;
                    top: 7px;
                }
			}
			&_active {
				transform: translateX(-100%);
				margin-left: 0;
			}
		}
        &__back {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 19px));
            display: block;
			font-weight: 500;
			font-size: 14px;
			text-decoration-line: underline;
            text-transform: uppercase;
			color: $red-color;
			&:hover {
				color: $red-color;
            }
        }
	}
}